/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.thumbnail {
	width: 100%;
	img {
		width: 150px;
		display: block;		
	}
}

.uk-vertical-align {
	display: table;
}

.uk-vertical-align-middle {
	display: table-cell;
}