/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/
html, body {
	height: 100%;
}

#popOut {
	position: fixed;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
}