/*****************************************************************************/
/* Catalogue: Style */
/*****************************************************************************/
.uk-panel-teaser .image {
	height: 20vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: center center;
}